@font-face {
    font-family: Outfit;
    src:
        url("fonts/Outfit-Regular.woff2") format("woff2"),
        url("fonts/Outfit-Bold.woff") format("woff"),
        url("fonts/Outfit-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Outfit-bold;
    src:
        url("fonts/Outfit-Bold.woff2") format("woff2"),
        url("fonts/Outfit-Bold.woff") format("woff"),
        url("fonts/Outfit-Bold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root {
    --white: rgb(255 255 255);
    --light-gray: rgb(214 226 240);
    --grayish-blue: rgb(123 135 157);
    --dark-blue: rgb(31 50 81);
    --background: rgb(213 225 239);
    --font-bold: outfit-bold, sans-serif;
    --font: outfit;
}

.card-container {
    margin: 0 30px;
    max-width: 350px;
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.container-text {
    padding: 0 15px;
}

.title {
    font-size: 1.5em;
    font-family: var(--font-bold);
    padding: 20px 0;
}

.paragraph {
    padding-bottom: 15px;
    font-size: 1em;
    color: var(--grayish-blue);
    font-family: var(--font);
}

.title,
.paragraph {
    text-align: center;
}

.img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
